<div class="container">
  <h1>Sayings</h1>
  
  <table class="table table-hovered">
    <thead>
      <tr>
        <th>Saying</th>
        <th style="width:1%;"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @sayings.each do |saying| %>
        <tr>
          <td><%= saying.content %></td>
          <td><%= link_to 'Show', saying %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Saying', new_saying_path, class: 'btn btn-primary' %>
</div>
