#saying-show {
  &.light {
    color: #343a40;
    background: #fff;

    .buttons {
      a {
        color: #ccc;
      }
    }
  }

  &.dark {
    color: #f8f9fa;
    background: #343a40;

    .buttons {
      a {
        color: #777;
      }
    }
  }
}